In [96]:
import polars as pl
import polars.selectors as cs
import duckdb

In [97]:
con = duckdb.connect('synthea.duckdb')

In [98]:
con.sql('SHOW TABLES')

┌───────────────────────┐
│         name          │
│        varchar        │
├───────────────────────┤
│ patients              │
│ raw_allergies         │
│ raw_careplans         │
│ raw_conditions        │
│ raw_devices           │
│ raw_encounters        │
│ raw_imaging_studies   │
│ raw_immunizations     │
│ raw_medications       │
│ raw_observations      │
│ raw_organizations     │
│ raw_patients          │
│ raw_payer_transitions │
│ raw_payers            │
│ raw_procedures        │
│ raw_providers         │
│ raw_supplies          │
│ stg_encounters        │
│ stg_medications       │
│ stg_patients          │
├───────────────────────┤
│        20 rows        │
└───────────────────────┘

In [99]:
for table in con.sql('SHOW TABLES').pl().select(pl.col("name")).to_series().to_list():
    print(table)
    print(con.sql(f'SELECT COUNT(*) FROM {table}'))

patients
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      3188933 │
└──────────────┘

raw_allergies
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        51592 │
└──────────────┘

raw_careplans
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       377726 │
└──────────────┘

raw_conditions
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      1143900 │
└──────────────┘

raw_devices
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        23694 │
└──────────────┘

raw_encounters
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      3188675 │
└──────────────┘

raw_imaging_studies
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        45609 │
└──────────────┘

raw_immunizations
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       168160 │
└──────────────┘

raw_medications
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      4227723 │
└──────────────┘

raw_observations
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│     16219969 │
└──────────────┘

raw_organizations
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         9175 │
└──────────────┘

raw_patients
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       124150 │
└──────────────┘

raw_payer_transitions
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       409553 │
└──────────────┘

raw_payers
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           10 │
└──────────────┘

raw_procedures
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       979564 │
└──────────────┘

raw_providers
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        60534 │
└──────────────┘

raw_supplies
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      1389858 │
└──────────────┘

stg_encounters
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      3188675 │
└──────────────┘

stg_medications
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      2485952 │
└──────────────┘

stg_patients
┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       124150 │
└──────────────┘

In [100]:
con.sql('SELECT COUNT(*), COUNT(DISTINCT patient) FROM patients')

┌──────────────┬─────────────────────────┐
│ count_star() │ count(DISTINCT patient) │
│    int64     │          int64          │
├──────────────┼─────────────────────────┤
│      3188933 │                  124150 │
└──────────────┴─────────────────────────┘

In [101]:
con.sql('SELECT * FROM patients ORDER BY patient LIMIT 25')

┌──────────────────────┬──────────────┬───┬──────────────────────┬──────────────────────┬──────────────────────┐
│       patient        │  first_name  │ … │ medication_payer_c…  │ base_medication_cost │ total_medication_c…  │
│       varchar        │   varchar    │   │        double        │        double        │        double        │
├──────────────────────┼──────────────┼───┼──────────────────────┼──────────────────────┼──────────────────────┤
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              3161.88 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              3161.88 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              3161.88 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              3161.88 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │             35044.17 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              3161.88 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
│          ·           │      ·       │ · │                   ·  │                   ·  │                   ·  │
│          ·           │      ·       │ · │                   ·  │                   ·  │                   ·  │
│          ·           │      ·       │ · │                   ·  │                   ·  │                   ·  │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              3161.88 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │               526.98 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              1317.45 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              3161.88 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                  0.0 │               263.49 │              3161.88 │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
│ 0001049f-9248-47fe…  │ Katharina121 │ … │                 NULL │                 NULL │                 NULL │
├──────────────────────┴──────────────┴───┴──────────────────────┴──────────────────────┴──────────────────────┤
│ 25 rows (20 shown)                                                                      29 columns (5 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [102]:
con.sql('SELECT COUNT(*), COUNT(DISTINCT patient) FROM stg_patients')

┌──────────────┬─────────────────────────┐
│ count_star() │ count(DISTINCT patient) │
│    int64     │          int64          │
├──────────────┼─────────────────────────┤
│       124150 │                  124150 │
└──────────────┴─────────────────────────┘

In [103]:
con.sql('SELECT COUNT(*), COUNT(DISTINCT patient), COUNT(DISTINCT encounter) FROM stg_encounters')

┌──────────────┬─────────────────────────┬───────────────────────────┐
│ count_star() │ count(DISTINCT patient) │ count(DISTINCT encounter) │
│    int64     │          int64          │           int64           │
├──────────────┼─────────────────────────┼───────────────────────────┤
│      3188675 │                  123892 │                   3188675 │
└──────────────┴─────────────────────────┴───────────────────────────┘

In [104]:
con.sql('SELECT COUNT(*), COUNT(DISTINCT patient) FROM stg_medications')

┌──────────────┬─────────────────────────┐
│ count_star() │ count(DISTINCT patient) │
│    int64     │          int64          │
├──────────────┼─────────────────────────┤
│      2485952 │                   95529 │
└──────────────┴─────────────────────────┘

In [105]:
con.sql("""
    select count(*)
    
    from stg_patients
    
    left join stg_encounters
        on stg_patients.patient = stg_encounters.patient
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      3188933 │
└──────────────┘

In [106]:
con.sql("""
    select count(*),
        count(distinct stg_patients.patient),
        count(distinct stg_medications.patient)

    from stg_patients

    left join stg_medications
        on stg_patients.patient = stg_medications.patient
""")

┌──────────────┬──────────────────────────────────────┬─────────────────────────────────────────┐
│ count_star() │ count(DISTINCT stg_patients.patient) │ count(DISTINCT stg_medications.patient) │
│    int64     │                int64                 │                  int64                  │
├──────────────┼──────────────────────────────────────┼─────────────────────────────────────────┤
│      2514573 │                               124150 │                                   95529 │
└──────────────┴──────────────────────────────────────┴─────────────────────────────────────────┘

In [107]:
patients = con.sql('SELECT * FROM patients USING SAMPLE 10000').pl()

In [108]:
patients.glimpse()

Rows: 10000
Columns: 29
$ patient                              <str> baffa93f-ae0e-4c33-a9bc-ef0426398436, 2afd2a13-86fa-4c55-bb02-df9572028442, e3c3cfd9-b7bd-4484-8bf7-5a43d20e105e, 8c15fce6-ca2c-45ca-9860-7a7979ef31e0, c5af8ef6-0518-4e1e-b809-8e8b65f83b55, baf8fdef-3fae-4f1f-8788-d1d54d14ab8e, 3d539b5a-fb2c-49d5-87d2-0d4b91dce9e2, 742ade60-4445-4403-9076-226f0907b80b, c3c743ed-086e-457a-b7d6-193607d2b285, d4277c21-b440-49ab-9062-a9de93266ad2
$ first_name                           <str> Collene784, Louis204, Drew592, Herbert830, Carylon722, Alayna598, Wilbur107, Jerome176, Shannan727, Larissa293
$ last_name                            <str> Spencer878, Kilback373, Donnelly343, Willms744, Christiansen251, Spencer878, Kulas532, Wolff180, Schoen8, Stamm704
$ birth_date                          <date> 1941-01-05, 1948-03-12, 1956-12-06, 1921-06-27, 1976-11-17, 1949-04-09, 1934-08-01, 1959-04-11, 1927-10-06, 1949-02-14
$ death_date                          <date> 2018-01-16, 2018-02-27, None, None, None, None, 2002-11-20, None, 2019-08-08, None
$ age                                  <i64> 77, 69, 66, 102, 46, 74, 68, 64, 91, 74
$ healthcare_expenses                  <f64> 1541469.86, 1807349.31, 1696275.97, 1757768.37, 927279.1, 1329464.17, 1452054.76, 1333006.45, 1803395.98, 1423145.57
$ healthcare_coverage                  <f64> 51329.44, 10023.74, 6035.36, 28723.24, 19962.11, 8062.25, 81242.62, 18048.34, 952667.28, 29628.64
$ encounter                            <str> 3d0d1339-1eab-438a-9a12-8a12ac5943ea, a62221ae-7339-462d-8929-d82d9d90bf41, 150e2156-96b4-46b9-b89b-d2be6c86a89c, eaf94c07-8c67-4ada-9ce9-51962c167c5b, d60b073d-5da2-4801-b952-0ffa3dcd0334, 7152242a-2a5d-4e03-b1d1-c8223555ad4f, 3e3ef723-1006-4c06-8d87-dab7cd243796, 31e34610-98ce-4d83-8439-6ca4201c2725, 7e9553ed-0894-4e9d-a9eb-1814945e8a44, c48feb21-40f6-409b-acf7-ce2a231944d8
$ encounter_start_time        <datetime[μs]> 2013-06-10 03:46:02, 2008-10-25 14:08:43, 2003-07-10 08:32:35, 1939-07-01 21:28:00, 2001-02-15 03:59:42, 1993-03-29 18:29:53, 1963-10-16 21:39:54, 1977-06-04 17:08:29, 1964-10-01 05:28:20, 2004-02-14 08:22:05
$ encounter_stop_time         <datetime[μs]> 2013-06-10 04:01:02, 2008-10-25 14:23:43, 2003-07-10 09:02:35, 1939-07-01 21:43:00, 2001-02-15 04:14:42, 1993-03-29 18:44:53, 1963-10-16 22:09:54, 1977-06-04 17:23:29, 1964-10-01 05:43:20, 2004-02-14 09:05:05
$ encounter_class                      <str> outpatient, ambulatory, wellness, ambulatory, wellness, ambulatory, wellness, wellness, outpatient, ambulatory
$ encounter_diag_code                  <i64> None, 55822004, None, None, None, 239873007, None, None, None, None
$ encounter_diag_description           <str> None, Hyperlipidemia, None, None, None, Osteoarthritis of knee, None, None, None, None
$ BASE_ENCOUNTER_COST                  <f64> 129.16, 129.16, 129.16, 129.16, 129.16, 129.16, 129.16, 129.16, 129.16, 129.16
$ total_encounter_cost                 <f64> 129.16, 129.16, 129.16, 129.16, 129.16, 129.16, 129.16, 129.16, 129.16, 129.16
$ encounter_payer                      <str> 7caa7254-5050-3b5e-9eae-bd5ea30e809c, b1c428d6-4f07-31e0-90f0-68ffa6ff8c76, 42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a, 047f6ec3-6215-35eb-9608-f9dda363a44c, 6e2f1a2d-27bd-3701-8d08-dae202c58632, d47b3510-2895-3b70-9897-342d681c769d, 6e2f1a2d-27bd-3701-8d08-dae202c58632, 6e2f1a2d-27bd-3701-8d08-dae202c58632, b1c428d6-4f07-31e0-90f0-68ffa6ff8c76, 6e2f1a2d-27bd-3701-8d08-dae202c58632
$ encounter_payer_coverage             <f64> 89.16, 0.0, 74.16, 69.16, 54.16, 49.16, 54.16, 54.16, 0.0, 54.16
$ medication_start_time               <date> 2013-06-09, 2008-10-25, 2003-07-10, 1939-07-01, 2001-02-14, None, 1963-10-16, None, 1964-10-01, 2004-02-16
$ medication_end_time                 <date> 2013-07-28, 2009-10-25, 2004-07-15, None, 2002-02-20, None, 1964-01-29, None, 1965-02-18, 2004-11-08
$ medication_code                      <i64> 106892, 314231, 310798, 106258, 2123111, None, 746030, None, 106892, 999967
$ medication_description               <str> insulin human  isophane 70 UNT/ML / Regular Insulin  Human 30 UNT/ML Injectable Suspension [Humulin], Simvastatin 10 MG Oral Tablet, Hydrochlorothiazide 25 MG Oral Tablet, Hydrocortisone 10 MG/ML Topical Cream, NDA020503 200 ACTUAT Albuterol 0.09 MG/ACTUAT Metered Dose Inhaler, None, Atenolol 50 MG / Chlorthalidone 25 MG Oral Tablet, None, insulin human  isophane 70 UNT/ML / Regular Insulin  Human 30 UNT/ML Injectable Suspension [Humulin], amLODIPine 5 MG / Hydrochlorothiazide 12.5 MG / Olmesartan medoxomil 20 MG Oral Tablet
$ medication_diag_code                 <i64> 44054006, 55822004, 59621000, 40275004, 233678006, None, 59621000, None, 44054006, 59621000
$ medication_diag_description          <str> Diabetes, Hyperlipidemia, Hypertension, Contact dermatitis, Childhood asthma, None, Hypertension, None, Diabetes, Hypertension
$ DISPENSES                            <i64> 1, 12, 12, 985, 12, None, 3, None, 4, 8
$ medication_payer                     <str> 7caa7254-5050-3b5e-9eae-bd5ea30e809c, b1c428d6-4f07-31e0-90f0-68ffa6ff8c76, 42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a, 047f6ec3-6215-35eb-9608-f9dda363a44c, 6e2f1a2d-27bd-3701-8d08-dae202c58632, None, 6e2f1a2d-27bd-3701-8d08-dae202c58632, None, b1c428d6-4f07-31e0-90f0-68ffa6ff8c76, 6e2f1a2d-27bd-3701-8d08-dae202c58632
$ medication_payer_coverage            <f64> 532.93, 0.0, 0.0, 0.0, 169.68, None, 188.49, None, 0.0, 188.49
$ base_medication_cost                 <f64> 572.93, 263.49, 263.49, 10.25, 244.68, None, 263.49, None, 966.92, 263.49
$ total_medication_cost                <f64> 572.93, 3161.88, 3161.88, 10096.25, 2936.16, None, 790.47, None, 3867.68, 2107.92

In [109]:
(
    patients
    .select(cs.numeric())
    .describe()
)

shape: (9, 14)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ describe  ┆ age       ┆ healthcar ┆ healthcar ┆ … ┆ DISPENSES ┆ medicatio ┆ base_medi ┆ total_me │
│ ---       ┆ ---       ┆ e_expense ┆ e_coverag ┆   ┆ ---       ┆ n_payer_c ┆ cation_co ┆ dication │
│ str       ┆ f64       ┆ s         ┆ e         ┆   ┆ f64       ┆ overage   ┆ st        ┆ _cost    │
│           ┆           ┆ ---       ┆ ---       ┆   ┆           ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆ f64       ┆ f64       ┆   ┆           ┆ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 10000.0   ┆ 10000.0   ┆ 10000.0   ┆ … ┆ 10000.0   ┆ 10000.0   ┆ 10000.0   ┆ 10000.0  │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ … ┆ 2164.0    ┆ 2164.0    ┆ 2164.0    ┆ 2164.0   │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 65.2183   ┆ 1.1303e6  ┆ 60264.701 ┆ … ┆ 14.867917 ┆ 102.54415 ┆ 287.29724 ┆ 3486.760 │
│           ┆           ┆           ┆ 766       ┆   ┆           ┆ 8         ┆ 1         ┆ 655      │
│ std       ┆ 21.828772 ┆ 576831.06 ┆ 156654.14 ┆ … ┆ 52.649607 ┆ 410.48638 ┆ 476.79427 ┆ 22117.90 │
│           ┆           ┆ 0505      ┆ 0153      ┆   ┆           ┆ 7         ┆ 9         ┆ 1718     │
│ min       ┆ 0.0       ┆ 2258.32   ┆ 0.0       ┆ … ┆ 1.0       ┆ 0.0       ┆ 2.64      ┆ 2.68     │
│ 25%       ┆ 53.0      ┆ 680085.92 ┆ 7124.74   ┆ … ┆ 2.0       ┆ 0.0       ┆ 258.15    ┆ 395.64   │
│ 50%       ┆ 67.0      ┆ 1.3540e6  ┆ 14116.53  ┆ … ┆ 12.0      ┆ 0.0       ┆ 263.49    ┆ 3161.88  │
│ 75%       ┆ 80.0      ┆ 1.5463e6  ┆ 31979.57  ┆ … ┆ 12.0      ┆ 188.49    ┆ 263.49    ┆ 3161.88  │
│ max       ┆ 114.0     ┆ 3.7163e6  ┆ 2.1464e6  ┆ … ┆ 985.0     ┆ 6896.28   ┆ 6971.28   ┆ 1.3783e6 │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [110]:
(
    patients
    .select(pl.col("age"))
    .describe()
)

shape: (9, 2)
┌────────────┬───────────┐
│ describe   ┆ age       │
│ ---        ┆ ---       │
│ str        ┆ f64       │
╞════════════╪═══════════╡
│ count      ┆ 10000.0   │
│ null_count ┆ 0.0       │
│ mean       ┆ 65.2183   │
│ std        ┆ 21.828772 │
│ min        ┆ 0.0       │
│ 25%        ┆ 53.0      │
│ 50%        ┆ 67.0      │
│ 75%        ┆ 80.0      │
│ max        ┆ 114.0     │
└────────────┴───────────┘

In [113]:
con.sql('select patient, round(sum(base_medication_cost)) from patients group by patient order by sum(base_medication_cost) desc limit 10')

┌──────────────────────────────────────┬──────────────────────────────────┐
│               patient                │ round(sum(base_medication_cost)) │
│               varchar                │              double              │
├──────────────────────────────────────┼──────────────────────────────────┤
│ 11a5a0db-d943-4b7b-a68d-fadba6465793 │                         250914.0 │
│ c4f5e145-7b24-4003-bcf9-9f52386fb824 │                         238204.0 │
│ f5f2d860-3b86-4ffa-ab5a-8847440afb4b │                         237154.0 │
│ 80295f40-85cc-4558-b93c-df371d647b91 │                         234002.0 │
│ b9731b1c-a616-41e2-a023-5e2fa4deeefd │                         232988.0 │
│ 4627ba78-4b9c-46ae-a06b-b4e8bdb37b39 │                         231534.0 │
│ 552269a5-6496-4e79-be06-a26a697a1a94 │                         222790.0 │
│ c22fcc5b-57fb-4db0-a723-db4e186c5f7a │                         215118.0 │
│ bdc4268b-ebfe-48ef-89df-d4c4261eca9b │                         211236.0 │
│ 5ea73737-5885-4ee5-8197-96a7a9eedaab │                         208615.0 │
├──────────────────────────────────────┴──────────────────────────────────┤
│ 10 rows                                                       2 columns │
└─────────────────────────────────────────────────────────────────────────┘

# Close connection

In [114]:
con.close()