In [92]:
import os
import glob
from pathlib import Path
from pprint import pprint

import polars as pl
import duckdb

In [2]:
ls -lh ./seeds

total 192856
-rw-r--r--@ 1 zacklarsen  staff    68K Apr 28  2020 allergies.csv
-rw-r--r--  1 zacklarsen  staff    11K Aug 20 09:47 allergies.parquet
-rw-r--r--@ 1 zacklarsen  staff   657K Apr 28  2020 careplans.csv
-rw-r--r--  1 zacklarsen  staff   208K Aug 20 09:47 careplans.parquet
-rw-r--r--@ 1 zacklarsen  staff   1.0M Apr 28  2020 conditions.csv
-rw-r--r--  1 zacklarsen  staff   260K Aug 20 09:47 conditions.parquet
-rw-r--r--@ 1 zacklarsen  staff    17K Apr 28  2020 devices.csv
-rw-r--r--  1 zacklarsen  staff   8.0K Aug 20 09:47 devices.parquet
-rw-r--r--@ 1 zacklarsen  staff    16M Apr 28  2020 encounters.csv
-rw-r--r--  1 zacklarsen  staff   1.9M Aug 20 09:47 encounters.parquet
-rw-r--r--@ 1 zacklarsen  staff   201K Apr 28  2020 imaging_studies.csv
-rw-r--r--  1 zacklarsen  staff    49K Aug 20 09:47 imaging_studies.parquet
-rw-r--r--@ 1 zacklarsen  staff   2.1M Apr 28  2020 immunizations.csv
-rw-r--r--  1 zacklarsen  staff   321K Aug 20 09:47 immunizations.parquet
-rw-r--r--@ 1 zacklarsen  staff    10M Apr 28  2020 medications.csv
-rw-r--r--  1 zacklarsen  staff   1.2M Aug 20 09:47 medications.parquet
-rw-r--r--@ 1 zacklarsen  staff    41M Apr 28  2020 observations.csv
-rw-r--r--  1 zacklarsen  staff   1.8M Aug 20 09:47 observations.parquet
-rw-r--r--@ 1 zacklarsen  staff   166K Apr 28  2020 organizations.csv
-rw-r--r--  1 zacklarsen  staff    67K Aug 20 09:47 organizations.parquet
-rw-r--r--@ 1 zacklarsen  staff   325K Apr 28  2020 patients.csv
-rw-r--r--  1 zacklarsen  staff   118K Aug 20 09:47 patients.parquet
-rw-r--r--@ 1 zacklarsen  staff   333K Apr 28  2020 payer_transitions.csv
-rw-r--r--  1 zacklarsen  staff    38K Aug 20 09:47 payer_transitions.parquet
-rw-r--r--@ 1 zacklarsen  staff   2.1K Apr 28  2020 payers.csv
-rw-r--r--  1 zacklarsen  staff   6.8K Aug 20 09:47 payers.parquet
-rw-r--r--@ 1 zacklarsen  staff   5.4M Apr 28  2020 procedures.csv
-rw-r--r--  1 zacklarsen  staff   769K Aug 20 09:47 procedures.parquet
-rw-r--r--@ 1 zacklarsen  staff   1.0M Apr 28  2020 providers.csv
-rw-r--r--  1 zacklarsen  staff   244K Aug 20 09:47 providers.parquet
-rw-r--r--@ 1 zacklarsen  staff    49B Apr 28  2020 supplies.csv
-rw-r--r--  1 zacklarsen  staff   817B Aug 20 09:47 supplies.parquet
-rw-r--r--@ 1 zacklarsen  staff   8.6M Aug 20 08:39 synthea_sample_data_csv_apr2020.zip

In [3]:
for file in os.listdir('seeds'):
    print(file)

medications.csv
providers.csv
observations.parquet
allergies.parquet
procedures.parquet
payer_transitions.csv
imaging_studies.csv
supplies.csv
payers.csv
patients.parquet
conditions.parquet
organizations.parquet
allergies.csv
supplies.parquet
procedures.csv
imaging_studies.parquet
organizations.csv
immunizations.parquet
conditions.csv
careplans.csv
encounters.parquet
encounters.csv
devices.csv
synthea_sample_data_csv_apr2020.zip
immunizations.csv
devices.parquet
payers.parquet
patients.csv
medications.parquet
careplans.parquet
payer_transitions.parquet
providers.parquet
observations.csv

In [33]:
for file in os.listdir('seeds'):
    if file.endswith('.csv'):
        path = os.path.join('seeds', file)
        print(file)
        print(pl.scan_csv(path, with_column_names=lambda cols: [col.lower() for col in cols]).columns)

medications.csv
['start', 'stop', 'patient', 'payer', 'encounter', 'code', 'description', 'base_cost', 'payer_coverage', 'dispenses', 'totalcost', 'reasoncode', 'reasondescription']
providers.csv
['id', 'organization', 'name', 'gender', 'speciality', 'address', 'city', 'state', 'zip', 'lat', 'lon', 'utilization']
payer_transitions.csv
['patient', 'start_year', 'end_year', 'payer', 'ownership']
imaging_studies.csv
['id', 'date', 'patient', 'encounter', 'bodysite_code', 'bodysite_description', 'modality_code', 'modality_description', 'sop_code', 'sop_description']
supplies.csv
['date', 'patient', 'encounter', 'code', 'description', 'quantity']
payers.csv
['id', 'name', 'address', 'city', 'state_headquartered', 'zip', 'phone', 'amount_covered', 'amount_uncovered', 'revenue', 'covered_encounters', 'uncovered_encounters', 'covered_medications', 'uncovered_medications', 'covered_procedures', 'uncovered_procedures', 'covered_immunizations', 'uncovered_immunizations', 'unique_customers', 'qols_avg', 'member_months']
allergies.csv
['start', 'stop', 'patient', 'encounter', 'code', 'description']
procedures.csv
['date', 'patient', 'encounter', 'code', 'description', 'base_cost', 'reasoncode', 'reasondescription']
organizations.csv
['id', 'name', 'address', 'city', 'state', 'zip', 'lat', 'lon', 'phone', 'revenue', 'utilization']
conditions.csv
['start', 'stop', 'patient', 'encounter', 'code', 'description']
careplans.csv
['id', 'start', 'stop', 'patient', 'encounter', 'code', 'description', 'reasoncode', 'reasondescription']
encounters.csv
['id', 'start', 'stop', 'patient', 'organization', 'provider', 'payer', 'encounterclass', 'code', 'description', 'base_encounter_cost', 'total_claim_cost', 'payer_coverage', 'reasoncode', 'reasondescription']
devices.csv
['start', 'stop', 'patient', 'encounter', 'code', 'description', 'udi']
immunizations.csv
['date', 'patient', 'encounter', 'code', 'description', 'base_cost']
patients.csv
['id', 'birthdate', 'deathdate', 'ssn', 'drivers', 'passport', 'prefix', 'first', 'last', 'suffix', 'maiden', 'marital', 'race', 'ethnicity', 'gender', 'birthplace', 'address', 'city', 'state', 'county', 'zip', 'lat', 'lon', 'healthcare_expenses', 'healthcare_coverage']
observations.csv
['date', 'patient', 'encounter', 'code', 'description', 'value', 'units', 'type']

In [5]:
pl.read_csv('seeds/patients.csv').glimpse()

Rows: 1171
Columns: 25
$ Id                  <str> 1d604da9-9a81-4ba9-80c2-de3375d59b40, 034e9e3b-2def-4559-bb2a-7850888ae060, 10339b10-3cd1-4ac3-ac13-ec26728cb592, 8d4c4326-e9de-4f45-9a4c-f8c36bff89ae, f5dcd418-09fe-4a2f-baa0-3da800bd8c3a, 72c0b9ce-7aa4-430b-aaff-bd0ce7846e55, b1e9b0b9-da6e-4f68-b603-bd896a50ca86, 01207ecd-9dff-4754-8887-4652eda231e2, b58731cc-2d8b-4c2d-b327-4cab771af3ef, cfee79fc-df05-476e-b274-43e09ea345db
$ BIRTHDATE           <str> 1989-05-25, 1983-11-14, 1992-06-02, 1978-05-27, 1996-10-18, 2017-07-27, 2003-12-13, 2019-05-15, 1970-05-16, 2016-07-04
$ DEATHDATE           <str> None, None, None, None, None, None, None, None, None, None
$ SSN                 <str> 999-76-6866, 999-73-5361, 999-27-3385, 999-85-4926, 999-60-7372, 999-68-6630, 999-73-2461, 999-81-4349, 999-90-2484, 999-15-5895
$ DRIVERS             <str> S99984236, S99962402, S99972682, S99974448, S99915787, None, S99954048, None, S99978036, None
$ PASSPORT            <str> X19277260X, X88275464X, X73754411X, X40915583X, X86772962X, None, None, None, X78170348X, None
$ PREFIX              <str> Mr., Mr., Mr., Mrs., Mr., None, None, None, Mrs., None
$ FIRST               <str> José Eduardo181, Milo271, Jayson808, Mariana775, Gregorio366, Jacinto644, Jimmie93, Karyn217, Isabel214, Alva958
$ LAST                <str> Gómez206, Feil794, Fadel536, Rutherford999, Auer97, Kris249, Harris789, Mueller846, Lucio648, Krajcik437
$ SUFFIX              <str> None, None, None, None, None, None, None, None, None, None
$ MAIDEN              <str> None, None, None, Williamson769, None, None, None, None, Carvajal694, None
$ MARITAL             <str> M, M, M, M, None, None, None, None, M, None
$ RACE                <str> white, white, white, white, white, white, white, white, white, white
$ ETHNICITY           <str> hispanic, nonhispanic, nonhispanic, nonhispanic, nonhispanic, nonhispanic, nonhispanic, nonhispanic, hispanic, nonhispanic
$ GENDER              <str> M, M, M, F, M, M, F, F, F, F
$ BIRTHPLACE          <str> Marigot  Saint Andrew Parish  DM, Danvers  Massachusetts  US, Springfield  Massachusetts  US, Yarmouth  Massachusetts  US, Patras  Achaea  GR, Beverly  Massachusetts  US, Worcester  Massachusetts  US, New Bedford  Massachusetts  US, Santiago  Santiago Province  CL, Boston  Massachusetts  US
$ ADDRESS             <str> 427 Balistreri Way Unit 19, 422 Farrell Path Unit 69, 1056 Harris Lane Suite 70, 999 Kuhn Forge, 1050 Lindgren Extension Apt 38, 888 Hickle Ferry Suite 38, 201 Mitchell Lodge Unit 67, 570 Abshire Forge Suite 32, 335 Morar Highlands Apt 75, 1048 Skiles Trailer
$ CITY                <str> Chicopee, Somerville, Chicopee, Lowell, Boston, Springfield, Pembroke, Colrain, Fall River, Walpole
$ STATE               <str> Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts
$ COUNTY              <str> Hampden County, Middlesex County, Hampden County, Middlesex County, Suffolk County, Hampden County, Plymouth County, Franklin County, Bristol County, Norfolk County
$ ZIP                 <i64> 1013, 2143, 1020, 1851, 2135, 1106, None, None, 2720, 2081
$ LAT                 <f64> 42.22835382315942, 42.36069732777065, 42.181642300277424, 42.63614335069588, 42.35243426303177, 42.151961474963535, 42.07529152717956, 42.740219982868055, 41.68768444527544, 42.177370220648726
$ LON                 <f64> -72.56295055096882, -71.12653095133149, -72.60884222581657, -71.3432549217789, -71.02861042115062, -72.59895940376188, -70.75703466334431, -72.72264767557297, -71.0557687821624, -71.28135315860652
$ HEALTHCARE_EXPENSES <f64> 271227.08, 793946.01, 574111.9, 935630.3, 598763.07, 8718.66, 397548.14, 26400.0, 987310.04, 80155.36
$ HEALTHCARE_COVERAGE <f64> 1334.8799999999999, 3204.49, 2606.3999999999996, 8756.189999999999, 3772.2, 1499.08, 3093.12, 774.9599999999999, 14166.009999999997, 1599.08

## Edit filenames to have raw_ prefix

In [80]:
OUT_DIR=Path("seeds")
print(OUT_DIR)

seeds

In [35]:
for file in OUT_DIR.glob('*.csv'):
    print(file)

medications.csv
providers.csv
payer_transitions.csv
imaging_studies.csv
supplies.csv
payers.csv
allergies.csv
procedures.csv
organizations.csv
conditions.csv
careplans.csv
encounters.csv
devices.csv
immunizations.csv
patients.csv
observations.csv

In [74]:
for file in OUT_DIR.glob('*.csv'):
    new = Path(OUT_DIR.joinpath('raw_' + file.stem + file.suffix))
    file.rename(new)

In [78]:
for file in OUT_DIR.glob('*.csv'):
    print(file)

seeds/raw_providers.csv
seeds/raw_imaging_studies.csv
seeds/raw_observations.csv
seeds/raw_immunizations.csv
seeds/raw_patients.csv
seeds/raw_encounters.csv
seeds/raw_conditions.csv
seeds/raw_allergies.csv
seeds/raw_careplans.csv
seeds/raw_medications.csv
seeds/raw_supplies.csv
seeds/raw_devices.csv
seeds/raw_procedures.csv
seeds/raw_payer_transitions.csv
seeds/raw_payers.csv
seeds/raw_organizations.csv

In [83]:
pl.read_csv('seeds/raw_observations.csv').height

299697

# Check data types of columns

In [93]:
for file in Path('seeds').glob('*.csv'):
    print(file)
    #print(pl.scan_csv(file, with_column_names=lambda cols: [col.lower() for col in cols]).columns)
    #print(pl.scan_csv(file).dtypes)
    pprint(pl.scan_csv(file).schema)

seeds/raw_providers.csv
{'ADDRESS': Utf8,
 'CITY': Utf8,
 'GENDER': Utf8,
 'Id': Utf8,
 'LAT': Float64,
 'LON': Float64,
 'NAME': Utf8,
 'ORGANIZATION': Utf8,
 'SPECIALITY': Utf8,
 'STATE': Utf8,
 'UTILIZATION': Int64,
 'ZIP': Utf8}
seeds/raw_imaging_studies.csv
{'BODYSITE_CODE': Int64,
 'BODYSITE_DESCRIPTION': Utf8,
 'DATE': Utf8,
 'ENCOUNTER': Utf8,
 'Id': Utf8,
 'MODALITY_CODE': Utf8,
 'MODALITY_DESCRIPTION': Utf8,
 'PATIENT': Utf8,
 'SOP_CODE': Utf8,
 'SOP_DESCRIPTION': Utf8}
seeds/raw_observations.csv
{'CODE': Utf8,
 'DATE': Utf8,
 'DESCRIPTION': Utf8,
 'ENCOUNTER': Utf8,
 'PATIENT': Utf8,
 'TYPE': Utf8,
 'UNITS': Utf8,
 'VALUE': Utf8}
seeds/raw_immunizations.csv
{'BASE_COST': Float64,
 'CODE': Int64,
 'DATE': Utf8,
 'DESCRIPTION': Utf8,
 'ENCOUNTER': Utf8,
 'PATIENT': Utf8}
seeds/raw_patients.csv
{'ADDRESS': Utf8,
 'BIRTHDATE': Utf8,
 'BIRTHPLACE': Utf8,
 'CITY': Utf8,
 'COUNTY': Utf8,
 'DEATHDATE': Utf8,
 'DRIVERS': Utf8,
 'ETHNICITY': Utf8,
 'FIRST': Utf8,
 'GENDER': Utf8,
 'HEALTHCARE_COVERAGE': Float64,
 'HEALTHCARE_EXPENSES': Float64,
 'Id': Utf8,
 'LAST': Utf8,
 'LAT': Float64,
 'LON': Float64,
 'MAIDEN': Utf8,
 'MARITAL': Utf8,
 'PASSPORT': Utf8,
 'PREFIX': Utf8,
 'RACE': Utf8,
 'SSN': Utf8,
 'STATE': Utf8,
 'SUFFIX': Utf8,
 'ZIP': Int64}
seeds/raw_encounters.csv
{'BASE_ENCOUNTER_COST': Float64,
 'CODE': Int64,
 'DESCRIPTION': Utf8,
 'ENCOUNTERCLASS': Utf8,
 'Id': Utf8,
 'ORGANIZATION': Utf8,
 'PATIENT': Utf8,
 'PAYER': Utf8,
 'PAYER_COVERAGE': Float64,
 'PROVIDER': Utf8,
 'REASONCODE': Int64,
 'REASONDESCRIPTION': Utf8,
 'START': Utf8,
 'STOP': Utf8,
 'TOTAL_CLAIM_COST': Float64}
seeds/raw_conditions.csv
{'CODE': Int64,
 'DESCRIPTION': Utf8,
 'ENCOUNTER': Utf8,
 'PATIENT': Utf8,
 'START': Utf8,
 'STOP': Utf8}
seeds/raw_allergies.csv
{'CODE': Int64,
 'DESCRIPTION': Utf8,
 'ENCOUNTER': Utf8,
 'PATIENT': Utf8,
 'START': Utf8,
 'STOP': Utf8}
seeds/raw_careplans.csv
{'CODE': Int64,
 'DESCRIPTION': Utf8,
 'ENCOUNTER': Utf8,
 'Id': Utf8,
 'PATIENT': Utf8,
 'REASONCODE': Int64,
 'REASONDESCRIPTION': Utf8,
 'START': Utf8,
 'STOP': Utf8}
seeds/raw_medications.csv
{'BASE_COST': Float64,
 'CODE': Int64,
 'DESCRIPTION': Utf8,
 'DISPENSES': Int64,
 'ENCOUNTER': Utf8,
 'PATIENT': Utf8,
 'PAYER': Utf8,
 'PAYER_COVERAGE': Float64,
 'REASONCODE': Int64,
 'REASONDESCRIPTION': Utf8,
 'START': Utf8,
 'STOP': Utf8,
 'TOTALCOST': Float64}
seeds/raw_supplies.csv
{'CODE': Utf8,
 'DATE': Utf8,
 'DESCRIPTION': Utf8,
 'ENCOUNTER': Utf8,
 'PATIENT': Utf8,
 'QUANTITY': Utf8}
seeds/raw_devices.csv
{'CODE': Int64,
 'DESCRIPTION': Utf8,
 'ENCOUNTER': Utf8,
 'PATIENT': Utf8,
 'START': Utf8,
 'STOP': Utf8,
 'UDI': Utf8}
seeds/raw_procedures.csv
{'BASE_COST': Float64,
 'CODE': Int64,
 'DATE': Utf8,
 'DESCRIPTION': Utf8,
 'ENCOUNTER': Utf8,
 'PATIENT': Utf8,
 'REASONCODE': Int64,
 'REASONDESCRIPTION': Utf8}
seeds/raw_payer_transitions.csv
{'END_YEAR': Int64,
 'OWNERSHIP': Utf8,
 'PATIENT': Utf8,
 'PAYER': Utf8,
 'START_YEAR': Int64}
seeds/raw_payers.csv
{'ADDRESS': Utf8,
 'AMOUNT_COVERED': Float64,
 'AMOUNT_UNCOVERED': Float64,
 'CITY': Utf8,
 'COVERED_ENCOUNTERS': Int64,
 'COVERED_IMMUNIZATIONS': Int64,
 'COVERED_MEDICATIONS': Int64,
 'COVERED_PROCEDURES': Int64,
 'Id': Utf8,
 'MEMBER_MONTHS': Int64,
 'NAME': Utf8,
 'PHONE': Utf8,
 'QOLS_AVG': Float64,
 'REVENUE': Float64,
 'STATE_HEADQUARTERED': Utf8,
 'UNCOVERED_ENCOUNTERS': Int64,
 'UNCOVERED_IMMUNIZATIONS': Int64,
 'UNCOVERED_MEDICATIONS': Int64,
 'UNCOVERED_PROCEDURES': Int64,
 'UNIQUE_CUSTOMERS': Int64,
 'ZIP': Int64}
seeds/raw_organizations.csv
{'ADDRESS': Utf8,
 'CITY': Utf8,
 'Id': Utf8,
 'LAT': Float64,
 'LON': Float64,
 'NAME': Utf8,
 'PHONE': Utf8,
 'REVENUE': Float64,
 'STATE': Utf8,
 'UTILIZATION': Int64,
 'ZIP': Utf8}

## Create parquet files out of CSV after lowercasing column names

In [6]:
# for file in os.listdir('seeds'):
#     path = os.path.join('seeds', file)
#     pl.scan_csv(path, with_column_names=lambda cols: [col.lower() for col in cols]).collect().write_parquet(path.replace('.csv', '.parquet'))

In [7]:
ls -lh seeds/

total 192856
-rw-r--r--@ 1 zacklarsen  staff    68K Apr 28  2020 allergies.csv
-rw-r--r--  1 zacklarsen  staff    11K Aug 20 09:47 allergies.parquet
-rw-r--r--@ 1 zacklarsen  staff   657K Apr 28  2020 careplans.csv
-rw-r--r--  1 zacklarsen  staff   208K Aug 20 09:47 careplans.parquet
-rw-r--r--@ 1 zacklarsen  staff   1.0M Apr 28  2020 conditions.csv
-rw-r--r--  1 zacklarsen  staff   260K Aug 20 09:47 conditions.parquet
-rw-r--r--@ 1 zacklarsen  staff    17K Apr 28  2020 devices.csv
-rw-r--r--  1 zacklarsen  staff   8.0K Aug 20 09:47 devices.parquet
-rw-r--r--@ 1 zacklarsen  staff    16M Apr 28  2020 encounters.csv
-rw-r--r--  1 zacklarsen  staff   1.9M Aug 20 09:47 encounters.parquet
-rw-r--r--@ 1 zacklarsen  staff   201K Apr 28  2020 imaging_studies.csv
-rw-r--r--  1 zacklarsen  staff    49K Aug 20 09:47 imaging_studies.parquet
-rw-r--r--@ 1 zacklarsen  staff   2.1M Apr 28  2020 immunizations.csv
-rw-r--r--  1 zacklarsen  staff   321K Aug 20 09:47 immunizations.parquet
-rw-r--r--@ 1 zacklarsen  staff    10M Apr 28  2020 medications.csv
-rw-r--r--  1 zacklarsen  staff   1.2M Aug 20 09:47 medications.parquet
-rw-r--r--@ 1 zacklarsen  staff    41M Apr 28  2020 observations.csv
-rw-r--r--  1 zacklarsen  staff   1.8M Aug 20 09:47 observations.parquet
-rw-r--r--@ 1 zacklarsen  staff   166K Apr 28  2020 organizations.csv
-rw-r--r--  1 zacklarsen  staff    67K Aug 20 09:47 organizations.parquet
-rw-r--r--@ 1 zacklarsen  staff   325K Apr 28  2020 patients.csv
-rw-r--r--  1 zacklarsen  staff   118K Aug 20 09:47 patients.parquet
-rw-r--r--@ 1 zacklarsen  staff   333K Apr 28  2020 payer_transitions.csv
-rw-r--r--  1 zacklarsen  staff    38K Aug 20 09:47 payer_transitions.parquet
-rw-r--r--@ 1 zacklarsen  staff   2.1K Apr 28  2020 payers.csv
-rw-r--r--  1 zacklarsen  staff   6.8K Aug 20 09:47 payers.parquet
-rw-r--r--@ 1 zacklarsen  staff   5.4M Apr 28  2020 procedures.csv
-rw-r--r--  1 zacklarsen  staff   769K Aug 20 09:47 procedures.parquet
-rw-r--r--@ 1 zacklarsen  staff   1.0M Apr 28  2020 providers.csv
-rw-r--r--  1 zacklarsen  staff   244K Aug 20 09:47 providers.parquet
-rw-r--r--@ 1 zacklarsen  staff    49B Apr 28  2020 supplies.csv
-rw-r--r--  1 zacklarsen  staff   817B Aug 20 09:47 supplies.parquet
-rw-r--r--@ 1 zacklarsen  staff   8.6M Aug 20 08:39 synthea_sample_data_csv_apr2020.zip

In [8]:
pl.scan_parquet('seeds/patients.parquet').collect().glimpse()

Rows: 1171
Columns: 25
$ id                  <str> 1d604da9-9a81-4ba9-80c2-de3375d59b40, 034e9e3b-2def-4559-bb2a-7850888ae060, 10339b10-3cd1-4ac3-ac13-ec26728cb592, 8d4c4326-e9de-4f45-9a4c-f8c36bff89ae, f5dcd418-09fe-4a2f-baa0-3da800bd8c3a, 72c0b9ce-7aa4-430b-aaff-bd0ce7846e55, b1e9b0b9-da6e-4f68-b603-bd896a50ca86, 01207ecd-9dff-4754-8887-4652eda231e2, b58731cc-2d8b-4c2d-b327-4cab771af3ef, cfee79fc-df05-476e-b274-43e09ea345db
$ birthdate           <str> 1989-05-25, 1983-11-14, 1992-06-02, 1978-05-27, 1996-10-18, 2017-07-27, 2003-12-13, 2019-05-15, 1970-05-16, 2016-07-04
$ deathdate           <str> None, None, None, None, None, None, None, None, None, None
$ ssn                 <str> 999-76-6866, 999-73-5361, 999-27-3385, 999-85-4926, 999-60-7372, 999-68-6630, 999-73-2461, 999-81-4349, 999-90-2484, 999-15-5895
$ drivers             <str> S99984236, S99962402, S99972682, S99974448, S99915787, None, S99954048, None, S99978036, None
$ passport            <str> X19277260X, X88275464X, X73754411X, X40915583X, X86772962X, None, None, None, X78170348X, None
$ prefix              <str> Mr., Mr., Mr., Mrs., Mr., None, None, None, Mrs., None
$ first               <str> José Eduardo181, Milo271, Jayson808, Mariana775, Gregorio366, Jacinto644, Jimmie93, Karyn217, Isabel214, Alva958
$ last                <str> Gómez206, Feil794, Fadel536, Rutherford999, Auer97, Kris249, Harris789, Mueller846, Lucio648, Krajcik437
$ suffix              <str> None, None, None, None, None, None, None, None, None, None
$ maiden              <str> None, None, None, Williamson769, None, None, None, None, Carvajal694, None
$ marital             <str> M, M, M, M, None, None, None, None, M, None
$ race                <str> white, white, white, white, white, white, white, white, white, white
$ ethnicity           <str> hispanic, nonhispanic, nonhispanic, nonhispanic, nonhispanic, nonhispanic, nonhispanic, nonhispanic, hispanic, nonhispanic
$ gender              <str> M, M, M, F, M, M, F, F, F, F
$ birthplace          <str> Marigot  Saint Andrew Parish  DM, Danvers  Massachusetts  US, Springfield  Massachusetts  US, Yarmouth  Massachusetts  US, Patras  Achaea  GR, Beverly  Massachusetts  US, Worcester  Massachusetts  US, New Bedford  Massachusetts  US, Santiago  Santiago Province  CL, Boston  Massachusetts  US
$ address             <str> 427 Balistreri Way Unit 19, 422 Farrell Path Unit 69, 1056 Harris Lane Suite 70, 999 Kuhn Forge, 1050 Lindgren Extension Apt 38, 888 Hickle Ferry Suite 38, 201 Mitchell Lodge Unit 67, 570 Abshire Forge Suite 32, 335 Morar Highlands Apt 75, 1048 Skiles Trailer
$ city                <str> Chicopee, Somerville, Chicopee, Lowell, Boston, Springfield, Pembroke, Colrain, Fall River, Walpole
$ state               <str> Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts, Massachusetts
$ county              <str> Hampden County, Middlesex County, Hampden County, Middlesex County, Suffolk County, Hampden County, Plymouth County, Franklin County, Bristol County, Norfolk County
$ zip                 <i64> 1013, 2143, 1020, 1851, 2135, 1106, None, None, 2720, 2081
$ lat                 <f64> 42.22835382315942, 42.36069732777065, 42.181642300277424, 42.63614335069588, 42.35243426303177, 42.151961474963535, 42.07529152717956, 42.740219982868055, 41.68768444527544, 42.177370220648726
$ lon                 <f64> -72.56295055096882, -71.12653095133149, -72.60884222581657, -71.3432549217789, -71.02861042115062, -72.59895940376188, -70.75703466334431, -72.72264767557297, -71.0557687821624, -71.28135315860652
$ healthcare_expenses <f64> 271227.08, 793946.01, 574111.9, 935630.3, 598763.07, 8718.66, 397548.14, 26400.0, 987310.04, 80155.36
$ healthcare_coverage <f64> 1334.8799999999999, 3204.49, 2606.3999999999996, 8756.189999999999, 3772.2, 1499.08, 3093.12, 774.9599999999999, 14166.009999999997, 1599.08

In [9]:
duckdb.read_csv('seeds/patients.csv').limit(2)

┌──────────────────────┬────────────┬───────────┬───┬────────────────────┬─────────────────────┬─────────────────────┐
│          Id          │ BIRTHDATE  │ DEATHDATE │ … │        LON         │ HEALTHCARE_EXPENSES │ HEALTHCARE_COVERAGE │
│       varchar        │    date    │   date    │   │       double       │       double        │       double        │
├──────────────────────┼────────────┼───────────┼───┼────────────────────┼─────────────────────┼─────────────────────┤
│ 1d604da9-9a81-4ba9…  │ 1989-05-25 │ NULL      │ … │ -72.56295055096882 │           271227.08 │  1334.8799999999999 │
│ 034e9e3b-2def-4559…  │ 1983-11-14 │ NULL      │ … │ -71.12653095133149 │           793946.01 │             3204.49 │
├──────────────────────┴────────────┴───────────┴───┴────────────────────┴─────────────────────┴─────────────────────┤
│ 2 rows                                                                                        25 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [10]:
duckdb.read_parquet('seeds/patients.parquet').limit(2)

┌──────────────────────┬────────────┬───────────┬───┬────────────────────┬─────────────────────┬─────────────────────┐
│          id          │ birthdate  │ deathdate │ … │        lon         │ healthcare_expenses │ healthcare_coverage │
│       varchar        │  varchar   │  varchar  │   │       double       │       double        │       double        │
├──────────────────────┼────────────┼───────────┼───┼────────────────────┼─────────────────────┼─────────────────────┤
│ 1d604da9-9a81-4ba9…  │ 1989-05-25 │ NULL      │ … │ -72.56295055096882 │           271227.08 │  1334.8799999999999 │
│ 034e9e3b-2def-4559…  │ 1983-11-14 │ NULL      │ … │ -71.12653095133149 │           793946.01 │             3204.49 │
├──────────────────────┴────────────┴───────────┴───┴────────────────────┴─────────────────────┴─────────────────────┤
│ 2 rows                                                                                        25 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## Create tables in database

In [11]:
for file in os.listdir('seeds'):
    print(file.replace('.csv', '').replace('.parquet', ''))

medications
providers
observations
allergies
procedures
payer_transitions
imaging_studies
supplies
payers
patients
conditions
organizations
allergies
supplies
procedures
imaging_studies
organizations
immunizations
conditions
careplans
encounters
encounters
devices
synthea_sample_data_csv_apr2020.zip
immunizations
devices
payers
patients
medications
careplans
payer_transitions
providers
observations

In [103]:
# create a connection
con = duckdb.connect('synthea.duckdb')

In [104]:
seed_path = Path('./seeds/')

for parquet_file in seed_path.glob('*.parquet'):
    con.sql(
        f"""
        CREATE TABLE IF NOT EXISTS raw_{parquet_file.stem} AS 
        SELECT * FROM read_parquet('{parquet_file}');
        """
    )

In [105]:
con.sql('SHOW TABLES')

┌───────────────────────┐
│         name          │
│        varchar        │
├───────────────────────┤
│ raw_allergies         │
│ raw_careplans         │
│ raw_conditions        │
│ raw_devices           │
│ raw_encounters        │
│ raw_imaging_studies   │
│ raw_immunizations     │
│ raw_medications       │
│ raw_observations      │
│ raw_organizations     │
│ raw_patients          │
│ raw_payer_transitions │
│ raw_payers            │
│ raw_procedures        │
│ raw_providers         │
│ raw_supplies          │
├───────────────────────┤
│        16 rows        │
└───────────────────────┘

In [15]:
con.sql('SELECT * FROM patients LIMIT 2').pl().glimpse()

Rows: 2
Columns: 25
$ id                  <str> 1d604da9-9a81-4ba9-80c2-de3375d59b40, 034e9e3b-2def-4559-bb2a-7850888ae060
$ birthdate           <str> 1989-05-25, 1983-11-14
$ deathdate           <str> None, None
$ ssn                 <str> 999-76-6866, 999-73-5361
$ drivers             <str> S99984236, S99962402
$ passport            <str> X19277260X, X88275464X
$ prefix              <str> Mr., Mr.
$ first               <str> José Eduardo181, Milo271
$ last                <str> Gómez206, Feil794
$ suffix              <str> None, None
$ maiden              <str> None, None
$ marital             <str> M, M
$ race                <str> white, white
$ ethnicity           <str> hispanic, nonhispanic
$ gender              <str> M, M
$ birthplace          <str> Marigot  Saint Andrew Parish  DM, Danvers  Massachusetts  US
$ address             <str> 427 Balistreri Way Unit 19, 422 Farrell Path Unit 69
$ city                <str> Chicopee, Somerville
$ state               <str> Massachusetts, Massachusetts
$ county              <str> Hampden County, Middlesex County
$ zip                 <i64> 1013, 2143
$ lat                 <f64> 42.22835382315942, 42.36069732777065
$ lon                 <f64> -72.56295055096882, -71.12653095133149
$ healthcare_expenses <f64> 271227.08, 793946.01
$ healthcare_coverage <f64> 1334.8799999999999, 3204.49

In [16]:
con.sql('SELECT * FROM encounters LIMIT 2').pl().glimpse()

Rows: 2
Columns: 15
$ id                  <str> d0c40d10-8d87-447e-836e-99d26ad52ea5, e88bc3a9-007c-405e-aabc-792a38f4aa2b
$ start               <str> 2010-01-23T17:45:28Z, 2012-01-23T17:45:28Z
$ stop                <str> 2010-01-23T18:10:28Z, 2012-01-23T18:00:28Z
$ patient             <str> 034e9e3b-2def-4559-bb2a-7850888ae060, 034e9e3b-2def-4559-bb2a-7850888ae060
$ organization        <str> e002090d-4e92-300e-b41e-7d1f21dee4c6, 772ee193-bb9f-30eb-9939-21e86c8e4da5
$ provider            <str> e6283e46-fd81-3611-9459-0edb1c3da357, 6f1d59a7-a5bd-3cf9-9671-5bad2f351c28
$ payer               <str> 6e2f1a2d-27bd-3701-8d08-dae202c58632, 6e2f1a2d-27bd-3701-8d08-dae202c58632
$ encounterclass      <str> ambulatory, wellness
$ code                <i64> 185345009, 162673000
$ description         <str> Encounter for symptom, General examination of patient (procedure)
$ base_encounter_cost <f64> 129.16, 129.16
$ total_claim_cost    <f64> 129.16, 129.16
$ payer_coverage      <f64> 54.16, 129.16
$ reasoncode          <i64> 10509002, None
$ reasondescription   <str> Acute bronchitis (disorder), None

In [17]:
con.sql('SELECT * FROM medications LIMIT 2').pl().glimpse()

Rows: 2
Columns: 13
$ start             <str> 2010-05-05T00:26:23Z, 2011-04-30T00:26:23Z
$ stop              <str> 2011-04-30T00:26:23Z, 2012-04-24T00:26:23Z
$ patient           <str> 8d4c4326-e9de-4f45-9a4c-f8c36bff89ae, 8d4c4326-e9de-4f45-9a4c-f8c36bff89ae
$ payer             <str> b1c428d6-4f07-31e0-90f0-68ffa6ff8c76, b1c428d6-4f07-31e0-90f0-68ffa6ff8c76
$ encounter         <str> 1e0d6b0e-1711-4a25-99f9-b1c700c9b260, 6aa37300-d1b4-48e7-a2f8-5e0f70f48f38
$ code              <i64> 389221, 389221
$ description       <str> Etonogestrel 68 MG Drug Implant, Etonogestrel 68 MG Drug Implant
$ base_cost         <f64> 677.08, 624.09
$ payer_coverage    <f64> 0.0, 0.0
$ dispenses         <i64> 12, 12
$ totalcost         <f64> 8124.96, 7489.08
$ reasoncode        <i64> None, None
$ reasondescription <str> None, None

In [18]:
con.sql("""
SELECT 
    p.id AS patient_id,
    p.gender AS patient_gender,
    p.birthdate AS patient_birthdate,
    e.id AS encounter_id,
    e.encounterclass AS encounter_class,
    m.code AS medication_code,
    m.description AS medication_description
FROM patients p
JOIN encounters e
    ON p.id = e.patient
JOIN medications m
    ON e.id = m.encounter
WHERE p.gender = 'F'
LIMIT 3
""").pl()

shape: (3, 7)
┌──────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ patient_id   ┆ patient_gen ┆ patient_bir ┆ encounter_i ┆ encounter_c ┆ medication_ ┆ medication_ │
│ ---          ┆ der         ┆ thdate      ┆ d           ┆ lass        ┆ code        ┆ description │
│ str          ┆ ---         ┆ ---         ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│              ┆ str         ┆ str         ┆ str         ┆ str         ┆ i64         ┆ str         │
╞══════════════╪═════════════╪═════════════╪═════════════╪═════════════╪═════════════╪═════════════╡
│ 8d4c4326-e9d ┆ F           ┆ 1978-05-27  ┆ 1e0d6b0e-17 ┆ outpatient  ┆ 389221      ┆ Etonogestre │
│ e-4f45-9a4c- ┆             ┆             ┆ 11-4a25-99f ┆             ┆             ┆ l 68 MG     │
│ f8c36bff…    ┆             ┆             ┆ 9-b1c700c9… ┆             ┆             ┆ Drug        │
│              ┆             ┆             ┆             ┆             ┆             ┆ Implant     │
│ 8d4c4326-e9d ┆ F           ┆ 1978-05-27  ┆ 6aa37300-d1 ┆ outpatient  ┆ 389221      ┆ Etonogestre │
│ e-4f45-9a4c- ┆             ┆             ┆ b4-48e7-a2f ┆             ┆             ┆ l 68 MG     │
│ f8c36bff…    ┆             ┆             ┆ 8-5e0f70f4… ┆             ┆             ┆ Drug        │
│              ┆             ┆             ┆             ┆             ┆             ┆ Implant     │
│ 8d4c4326-e9d ┆ F           ┆ 1978-05-27  ┆ 7253a9f9-6f ┆ outpatient  ┆ 748856      ┆ Yaz 28 Day  │
│ e-4f45-9a4c- ┆             ┆             ┆ 6d-429a-926 ┆             ┆             ┆ Pack        │
│ f8c36bff…    ┆             ┆             ┆ a-7b1d424e… ┆             ┆             ┆             │
└──────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┘

In [19]:
con.sql("""
    SELECT
    id AS patient,
    birthdate AS birth_date,
    deathdate AS death_date,
    lon,
    lat,
    ROUND(healthcare_expenses, 2) AS healthcare_expenses,
    ROUND(healthcare_coverage, 2) AS healthcare_coverage
    FROM patients 
    LIMIT 2
""")

┌──────────────────────┬────────────┬────────────┬───┬───────────────────┬─────────────────────┬─────────────────────┐
│       patient        │ birth_date │ death_date │ … │        lat        │ healthcare_expenses │ healthcare_coverage │
│       varchar        │  varchar   │  varchar   │   │      double       │       double        │       double        │
├──────────────────────┼────────────┼────────────┼───┼───────────────────┼─────────────────────┼─────────────────────┤
│ 1d604da9-9a81-4ba9…  │ 1989-05-25 │ NULL       │ … │ 42.22835382315942 │           271227.08 │             1334.88 │
│ 034e9e3b-2def-4559…  │ 1983-11-14 │ NULL       │ … │ 42.36069732777065 │           793946.01 │             3204.49 │
├──────────────────────┴────────────┴────────────┴───┴───────────────────┴─────────────────────┴─────────────────────┤
│ 2 rows                                                                                         7 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [20]:
con.sql('SELECT * FROM patients LIMIT 2').pl()

shape: (2, 25)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ id        ┆ birthdate ┆ deathdate ┆ ssn       ┆ … ┆ lat       ┆ lon       ┆ healthcar ┆ healthca │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ e_expense ┆ re_cover │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ f64       ┆ f64       ┆ s         ┆ age      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ ---       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1d604da9- ┆ 1989-05-2 ┆ null      ┆ 999-76-68 ┆ … ┆ 42.228354 ┆ -72.56295 ┆ 271227.08 ┆ 1334.88  │
│ 9a81-4ba9 ┆ 5         ┆           ┆ 66        ┆   ┆           ┆ 1         ┆           ┆          │
│ -80c2-de3 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 375d5…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 034e9e3b- ┆ 1983-11-1 ┆ null      ┆ 999-73-53 ┆ … ┆ 42.360697 ┆ -71.12653 ┆ 793946.01 ┆ 3204.49  │
│ 2def-4559 ┆ 4         ┆           ┆ 61        ┆   ┆           ┆ 1         ┆           ┆          │
│ -bb2a-785 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 0888a…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [21]:
con.sql("""
    SELECT
        id AS patient,
        TRY_CAST(birthdate AS DATE) AS birth_date,
        TRY_CAST(deathdate AS DATE) AS death_date,
        CASE
            WHEN death_date IS NULL THEN year(age(birth_date))
            ELSE year(age(death_date, birth_date))
            END AS age,
        ssn,
        drivers AS drivers_license_no,
        passport AS passport_no,
        first AS first_name,
        last AS last_name,
        marital AS marital_status,
        race,
        ethnicity,
        gender,
        address,
        city,
        state,
        zip,
        county,
        lon,
        lat,
        ROUND(healthcare_expenses, 2) AS healthcare_expenses,
        ROUND(healthcare_coverage, 2) AS healthcare_coverage
    FROM patients
    LIMIT 2
""")

┌──────────────────────┬────────────┬────────────┬───┬───────────────────┬─────────────────────┬─────────────────────┐
│       patient        │ birth_date │ death_date │ … │        lat        │ healthcare_expenses │ healthcare_coverage │
│       varchar        │    date    │    date    │   │      double       │       double        │       double        │
├──────────────────────┼────────────┼────────────┼───┼───────────────────┼─────────────────────┼─────────────────────┤
│ 1d604da9-9a81-4ba9…  │ 1989-05-25 │ NULL       │ … │ 42.22835382315942 │           271227.08 │             1334.88 │
│ 034e9e3b-2def-4559…  │ 1983-11-14 │ NULL       │ … │ 42.36069732777065 │           793946.01 │             3204.49 │
├──────────────────────┴────────────┴────────────┴───┴───────────────────┴─────────────────────┴─────────────────────┤
│ 2 rows                                                                                        22 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [22]:
con.sql("""SUMMARIZE patients""").pl()

shape: (25, 12)
┌────────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────┬───────────┐
│ column_nam ┆ column_typ ┆ min        ┆ max       ┆ … ┆ q50       ┆ q75       ┆ count ┆ null_perc │
│ e          ┆ e          ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---   ┆ entage    │
│ ---        ┆ ---        ┆ str        ┆ str       ┆   ┆ str       ┆ str       ┆ i64   ┆ ---       │
│ str        ┆ str        ┆            ┆           ┆   ┆           ┆           ┆       ┆ str       │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════╪═══════════╡
│ id         ┆ VARCHAR    ┆ 00185faa-2 ┆ ffcfa457- ┆ … ┆ null      ┆ null      ┆ 1171  ┆ 0.0%      │
│            ┆            ┆ 760-4218-9 ┆ 00c2-4405 ┆   ┆           ┆           ┆       ┆           │
│            ┆            ┆ bf5-db301a ┆ -9837-ac2 ┆   ┆           ┆           ┆       ┆           │
│            ┆            ┆ cf…        ┆ 78154…    ┆   ┆           ┆           ┆       ┆           │
│ birthdate  ┆ VARCHAR    ┆ 1909-12-22 ┆ 2020-03-2 ┆ … ┆ null      ┆ null      ┆ 1171  ┆ 0.0%      │
│            ┆            ┆            ┆ 2         ┆   ┆           ┆           ┆       ┆           │
│ deathdate  ┆ VARCHAR    ┆ 1926-03-05 ┆ 2020-03-3 ┆ … ┆ null      ┆ null      ┆ 1171  ┆ 85.4%     │
│            ┆            ┆            ┆ 0         ┆   ┆           ┆           ┆       ┆           │
│ ssn        ┆ VARCHAR    ┆ 999-10-184 ┆ 999-99-93 ┆ … ┆ null      ┆ null      ┆ 1171  ┆ 0.0%      │
│            ┆            ┆ 7          ┆ 38        ┆   ┆           ┆           ┆       ┆           │
│ …          ┆ …          ┆ …          ┆ …         ┆ … ┆ …         ┆ …         ┆ …     ┆ …         │
│ lat        ┆ DOUBLE     ┆ 41.3381092 ┆ 42.895846 ┆ … ┆ 42.304909 ┆ 42.447207 ┆ 1171  ┆ 0.0%      │
│            ┆            ┆ 3389566    ┆ 0341558   ┆   ┆ 680565004 ┆ 2990765   ┆       ┆           │
│ lon        ┆ DOUBLE     ┆ -73.382050 ┆ -69.94076 ┆ … ┆ -71.15292 ┆ -71.01966 ┆ 1171  ┆ 0.0%      │
│            ┆            ┆ 29321644   ┆ 344148951 ┆   ┆ 767917883 ┆ 82906926  ┆       ┆           │
│ healthcare ┆ DOUBLE     ┆ 1822.16000 ┆ 2145924.4 ┆ … ┆ 721259.86 ┆ 1260924.8 ┆ 1171  ┆ 0.0%      │
│ _expenses  ┆            ┆ 00000003   ┆ 00000002  ┆   ┆ 16203703  ┆ 470967743 ┆       ┆           │
│ healthcare ┆ DOUBLE     ┆ 0.0        ┆ 927873.53 ┆ … ┆ 5742.1625 ┆ 10623.096 ┆ 1171  ┆ 0.0%      │
│ _coverage  ┆            ┆            ┆ 00000022  ┆   ┆ 61728394  ┆ 997041419 ┆       ┆           │
└────────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────┴───────────┘

In [23]:
con.sql('SELECT * FROM encounters LIMIT 2').pl()

shape: (2, 15)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ id        ┆ start     ┆ stop      ┆ patient   ┆ … ┆ total_cla ┆ payer_cov ┆ reasoncod ┆ reasonde │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ im_cost   ┆ erage     ┆ e         ┆ scriptio │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ n        │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆ f64       ┆ i64       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ d0c40d10- ┆ 2010-01-2 ┆ 2010-01-2 ┆ 034e9e3b- ┆ … ┆ 129.16    ┆ 54.16     ┆ 10509002  ┆ Acute    │
│ 8d87-447e ┆ 3T17:45:2 ┆ 3T18:10:2 ┆ 2def-4559 ┆   ┆           ┆           ┆           ┆ bronchit │
│ -836e-99d ┆ 8Z        ┆ 8Z        ┆ -bb2a-785 ┆   ┆           ┆           ┆           ┆ is (diso │
│ 26ad5…    ┆           ┆           ┆ 0888a…    ┆   ┆           ┆           ┆           ┆ rder)    │
│ e88bc3a9- ┆ 2012-01-2 ┆ 2012-01-2 ┆ 034e9e3b- ┆ … ┆ 129.16    ┆ 129.16    ┆ null      ┆ null     │
│ 007c-405e ┆ 3T17:45:2 ┆ 3T18:00:2 ┆ 2def-4559 ┆   ┆           ┆           ┆           ┆          │
│ -aabc-792 ┆ 8Z        ┆ 8Z        ┆ -bb2a-785 ┆   ┆           ┆           ┆           ┆          │
│ a38f4…    ┆           ┆           ┆ 0888a…    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [24]:
con.sql("""
    SELECT
        id AS encounter,
        start AS encounter_start_time,
        stop AS encounter_stop_time,
        patient,
        organization,
        provider,
        payer,
        encounterclass AS encounter_class,
        code,
        description,
        base_encounter_cost,
        total_claim_cost,
        payer_coverage,
    FROM encounters
    LIMIT 2
""").pl()

shape: (2, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ encounter ┆ encounter ┆ encounter ┆ patient   ┆ … ┆ descripti ┆ base_enco ┆ total_cla ┆ payer_co │
│ ---       ┆ _start_ti ┆ _stop_tim ┆ ---       ┆   ┆ on        ┆ unter_cos ┆ im_cost   ┆ verage   │
│ str       ┆ me        ┆ e         ┆ str       ┆   ┆ ---       ┆ t         ┆ ---       ┆ ---      │
│           ┆ ---       ┆ ---       ┆           ┆   ┆ str       ┆ ---       ┆ f64       ┆ f64      │
│           ┆ str       ┆ str       ┆           ┆   ┆           ┆ f64       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ d0c40d10- ┆ 2010-01-2 ┆ 2010-01-2 ┆ 034e9e3b- ┆ … ┆ Encounter ┆ 129.16    ┆ 129.16    ┆ 54.16    │
│ 8d87-447e ┆ 3T17:45:2 ┆ 3T18:10:2 ┆ 2def-4559 ┆   ┆ for       ┆           ┆           ┆          │
│ -836e-99d ┆ 8Z        ┆ 8Z        ┆ -bb2a-785 ┆   ┆ symptom   ┆           ┆           ┆          │
│ 26ad5…    ┆           ┆           ┆ 0888a…    ┆   ┆           ┆           ┆           ┆          │
│ e88bc3a9- ┆ 2012-01-2 ┆ 2012-01-2 ┆ 034e9e3b- ┆ … ┆ General   ┆ 129.16    ┆ 129.16    ┆ 129.16   │
│ 007c-405e ┆ 3T17:45:2 ┆ 3T18:00:2 ┆ 2def-4559 ┆   ┆ examinati ┆           ┆           ┆          │
│ -aabc-792 ┆ 8Z        ┆ 8Z        ┆ -bb2a-785 ┆   ┆ on of     ┆           ┆           ┆          │
│ a38f4…    ┆           ┆           ┆ 0888a…    ┆   ┆ patient   ┆           ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ (…        ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [25]:
con.sql("""
    SELECT
        DISTINCT encounterclass
    FROM encounters
""")

┌────────────────┐
│ encounterclass │
│    varchar     │
├────────────────┤
│ ambulatory     │
│ wellness       │
│ outpatient     │
│ urgentcare     │
│ emergency      │
│ inpatient      │
└────────────────┘

In [26]:
con.sql('SELECT * FROM medications LIMIT 2').pl()

shape: (2, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ start     ┆ stop      ┆ patient   ┆ payer     ┆ … ┆ dispenses ┆ totalcost ┆ reasoncod ┆ reasonde │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ e         ┆ scriptio │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ i64       ┆ f64       ┆ ---       ┆ n        │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ i64       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2010-05-0 ┆ 2011-04-3 ┆ 8d4c4326- ┆ b1c428d6- ┆ … ┆ 12        ┆ 8124.96   ┆ null      ┆ null     │
│ 5T00:26:2 ┆ 0T00:26:2 ┆ e9de-4f45 ┆ 4f07-31e0 ┆   ┆           ┆           ┆           ┆          │
│ 3Z        ┆ 3Z        ┆ -9a4c-f8c ┆ -90f0-68f ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 36bff…    ┆ fa6ff…    ┆   ┆           ┆           ┆           ┆          │
│ 2011-04-3 ┆ 2012-04-2 ┆ 8d4c4326- ┆ b1c428d6- ┆ … ┆ 12        ┆ 7489.08   ┆ null      ┆ null     │
│ 0T00:26:2 ┆ 4T00:26:2 ┆ e9de-4f45 ┆ 4f07-31e0 ┆   ┆           ┆           ┆           ┆          │
│ 3Z        ┆ 3Z        ┆ -9a4c-f8c ┆ -90f0-68f ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 36bff…    ┆ fa6ff…    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [27]:
con.sql("""
    SELECT
        start AS medication_start_time,
        stop AS medication_end_time,
        patient,
        payer,
        encounter,
        code,
        description,
        base_cost,
        payer_coverage,
        dispenses,
        totalcost AS total_cost,
        reasoncode AS reason_code,
        reasondescription AS reason_description
    FROM medications
    LIMIT 2
""").pl()

shape: (2, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ medicatio ┆ medicatio ┆ patient   ┆ payer     ┆ … ┆ dispenses ┆ total_cos ┆ reason_co ┆ reason_d │
│ n_start_t ┆ n_end_tim ┆ ---       ┆ ---       ┆   ┆ ---       ┆ t         ┆ de        ┆ escripti │
│ ime       ┆ e         ┆ str       ┆ str       ┆   ┆ i64       ┆ ---       ┆ ---       ┆ on       │
│ ---       ┆ ---       ┆           ┆           ┆   ┆           ┆ f64       ┆ i64       ┆ ---      │
│ str       ┆ str       ┆           ┆           ┆   ┆           ┆           ┆           ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2010-05-0 ┆ 2011-04-3 ┆ 8d4c4326- ┆ b1c428d6- ┆ … ┆ 12        ┆ 8124.96   ┆ null      ┆ null     │
│ 5T00:26:2 ┆ 0T00:26:2 ┆ e9de-4f45 ┆ 4f07-31e0 ┆   ┆           ┆           ┆           ┆          │
│ 3Z        ┆ 3Z        ┆ -9a4c-f8c ┆ -90f0-68f ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 36bff…    ┆ fa6ff…    ┆   ┆           ┆           ┆           ┆          │
│ 2011-04-3 ┆ 2012-04-2 ┆ 8d4c4326- ┆ b1c428d6- ┆ … ┆ 12        ┆ 7489.08   ┆ null      ┆ null     │
│ 0T00:26:2 ┆ 4T00:26:2 ┆ e9de-4f45 ┆ 4f07-31e0 ┆   ┆           ┆           ┆           ┆          │
│ 3Z        ┆ 3Z        ┆ -9a4c-f8c ┆ -90f0-68f ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 36bff…    ┆ fa6ff…    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [28]:
con.sql("""
    SELECT id
    FROM patients
    GROUP BY id
    HAVING COUNT(*) > 1
""")

┌─────────┐
│   id    │
│ varchar │
├─────────┤
│ 0 rows  │
└─────────┘

In [29]:
con.sql("""

with source as (

    select * from patients

),

renamed as (
    
    select
        id as patient,
        try_cast(birthdate as date) as birth_date,
        try_cast(deathdate as date) as death_date,
        case
            when death_date is null then year(age(birth_date))
            else year(age(death_date, birth_date))
            end as age,
        ssn,
        drivers as drivers_license_no,
        passport as passport_no,
        first as first_name,
        last as last_name,
        marital as marital_status,
        race,
        ethnicity,
        gender,
        address,
        city,
        state,
        zip,
        county,
        lon,
        lat,
        round(healthcare_expenses, 2) as healthcare_expenses,
        round(healthcare_coverage, 2) as healthcare_coverage
    from source
    qualify row_number() over (partition by id) = 1

)

select * from renamed


""").pl().limit(2).glimpse()

Rows: 2
Columns: 22
$ patient              <str> 08ea9043-5f84-46ab-9815-81d90024169a, 0d270daf-d227-4461-a6bd-256676bdf824
$ birth_date          <date> 1960-10-27, 1961-12-13
$ death_date          <date> None, None
$ age                  <i64> 62, 61
$ ssn                  <str> 999-55-8341, 999-54-8893
$ drivers_license_no   <str> S99929107, S99967470
$ passport_no          <str> X74835475X, X40311840X
$ first_name           <str> Mui729, Emilio417
$ last_name            <str> Kihn564, Amador986
$ marital_status       <str> M, M
$ race                 <str> white, white
$ ethnicity            <str> nonhispanic, hispanic
$ gender               <str> F, M
$ address              <str> 763 Smitham Rue, 566 Schroeder Divide Unit 67
$ city                 <str> Worthington, Boston
$ state                <str> Massachusetts, Massachusetts
$ zip                  <i64> None, 2118
$ county               <str> Hampshire County, Suffolk County
$ lon                  <f64> -72.91649638963779, -71.03964430153226
$ lat                  <f64> 42.368206635543004, 42.37402784164887
$ healthcare_expenses  <f64> 1419258.51, 1209835.94
$ healthcare_coverage  <f64> 9171.68, 5790.2

In [30]:
con.sql("""
    with source as (

        select * from encounters

    ),

    renamed as (

        select
            id as encounter,
            start as encounter_start_time,
            stop as encounter_stop_time,
            patient,
            organization,
            provider,
            payer,
            encounterclass as encounter_class,
            code,
            description,
            base_encounter_cost,
            total_claim_cost,
            payer_coverage,

        from source
        qualify row_number() over (partition by id) = 1

    )

    select * from renamed
""").pl().limit(2).glimpse()

Rows: 2
Columns: 13
$ encounter            <str> 000d18f9-4f7f-41be-b874-7f5252550e62, 001dccbd-976a-41e2-bd56-0e0ff90849d9
$ encounter_start_time <str> 2000-01-19T23:35:03Z, 2000-09-13T08:43:46Z
$ encounter_stop_time  <str> 2000-01-19T23:50:03Z, 2000-09-13T09:13:46Z
$ patient              <str> cae10920-f977-48b4-a0d3-4d70ad561fd1, 9f5eacbf-4d98-4024-a559-86d7802e4ead
$ organization         <str> be4c63f3-8d38-3fa9-a183-62045b5c85f6, ed146054-9dd5-3f0b-83df-d29d983039c3
$ provider             <str> 8f9aea5b-fd01-37c0-8931-18b6d64bdae6, fedd8776-2f1c-3aae-a902-0d70692e180b
$ payer                <str> 7caa7254-5050-3b5e-9eae-bd5ea30e809c, 7caa7254-5050-3b5e-9eae-bd5ea30e809c
$ encounter_class      <str> ambulatory, wellness
$ code                 <i64> 185347001, 162673000
$ description          <str> Encounter for problem (procedure), General examination of patient (procedure)
$ base_encounter_cost  <f64> 129.16, 129.16
$ total_claim_cost     <f64> 129.16, 129.16
$ payer_coverage       <f64> 89.16, 89.16

In [31]:
con.sql("""
        
    with source as (
        
        select * from medications

    ),

    renamed as (

        select
            start as medication_start_time,
            stop as medication_end_time,
            patient,
            payer,
            encounter,
            code,
            description,
            base_cost,
            payer_coverage,
            dispenses,
            totalcost as total_cost,
            reasoncode as reason_code,
            reasondescription as reason_description

        from source
        qualify row_number() over (partition by encounter) = 1
    )

    select * from renamed

""").pl().limit(2).glimpse()

Rows: 2
Columns: 13
$ medication_start_time <str> 1942-04-21T13:04:22Z, 2008-09-27T23:35:03Z
$ medication_end_time   <str> 1943-04-27T13:04:22Z, 2008-09-27T23:35:03Z
$ patient               <str> 87f05059-de42-4630-a35b-edb53d880640, cae10920-f977-48b4-a0d3-4d70ad561fd1
$ payer                 <str> 6e2f1a2d-27bd-3701-8d08-dae202c58632, 7caa7254-5050-3b5e-9eae-bd5ea30e809c
$ encounter             <str> 0034b167-ea6d-432e-9da0-ab1e5704c216, 00b16574-d64b-487b-b8f2-ed060334f030
$ code                  <i64> 746030, 205923
$ description           <str> Atenolol 50 MG / Chlorthalidone 25 MG Oral Tablet, 1 ML Epoetin Alfa 4000 UNT/ML Injection [Epogen]
$ base_cost             <f64> 263.49, 263.49
$ payer_coverage        <f64> 188.49, 223.49
$ dispenses             <i64> 12, 1
$ total_cost            <f64> 3161.88, 263.49
$ reason_code           <i64> 59621000, 271737000
$ reason_description    <str> Hypertension, Anemia (disorder)

## Close connection

In [107]:
con.close()